@model ProyectoFront.Models.LaboratoriosModel

<h2>Formulario de Creación de Laboratorio</h2>

<form asp-action="Crear">

    <div class="mb-3">
        <label for="" class="form-label">Nombre del Laboratorio</label>
        <input type="text"
               class="form-control"
               asp-for="Nombre"
               aria-describedby="helpId"
               placeholder="Ingrese el nombre del laboratorio" />
        <small id="helpId" class="form-text text-muted">Ejemplo: Laboratorio de Química</small>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Capacidad</label>
        <input type="number"
               class="form-control"
               asp-for="Capacidad"
               aria-describedby="helpId"
               placeholder="Ingrese la capacidad del laboratorio" />
        <small id="helpId" class="form-text text-muted">Número máximo de personas permitidas</small>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Responsable</label>
        <input type="text"
               class="form-control"
               asp-for="Responsable"
               aria-describedby="helpId"
               placeholder="Ingrese el nombre del responsable" />
        <small id="helpId" class="form-text text-muted">Ejemplo: Ing. Carlos Ramírez</small>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="reset" class="btn btn-danger">Reset</button>

    <a asp-action="Index" class="btn btn-warning">Volver</a>

</form>