@model IEnumerable<ProyectoFront.Models.LaboratoriosModel>

<h2>Laboratorios</h2>

<a class="btn btn-primary mb-3" asp-action="Crear" role="button">Crear</a>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-primary">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Responsable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Capacidad</td>
                    <td>@item.Responsable</td>
                </tr>
            }
        </tbody>
    </table>
</div>